@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFrombottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes fadeInAnimationImg { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: .6; 
    } 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}   
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

@font-face {
    font-family: montRegular;
    src: url(./font/mont/Montserrat-Regular.otf);
}

@font-face {
    font-family: montBold;
    src: url(./font/mont/Montserrat-Bold.otf);
    font-weight: bold;
}

p,
a,
li,
b {
    font-family: montRegular;
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montBold;
}

body {
    background: linear-gradient(45deg, rgb(235, 232, 232),rgb(255, 255, 255));
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'montRegular';
}
#homePgImg{
    position: fixed;
    background-size: auto;
    left: 0;
    bottom: 0;
    top:90px;
    width: 100%;
    min-height: 94%;
    animation: fadeInAnimationImg ease 2s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards;
}

.navbar-custom{
    background: linear-gradient(45deg,#047062,#0c646d);
    height: 90px;
}
/* .main-logo{
    animation: 1s ease-out 0s 1 slideInFromLeft;

} */
.logodiv{
    position: absolute;
    left: 48%;
    margin-left: -123px !important;
    display: block;
    /* animation: fadeInAnimation ease 3s; */
    /* animation-iteration-count: 1; */
    /* animation-fill-mode: forwards; */
}
.logincontn-custom {
    display: flex;
    color: #0a686a;
    border: 2px solid #9e6b3d;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 540px;
    min-height: 50vh;
    background: linear-gradient(375deg, #c96b1bc9, #dbb696ab);
    box-shadow: 0 0 6px #242221;
    z-index: 500;
}
.login-custom{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 69vh;
    background-size: cover;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.col-md-8-custom{
    max-width: none !important;
    flex: none;
}
.signuplgnbtn-main{
    color: #ffffffcf;
    background: linear-gradient(13deg,#047062,#1b8590);
    border: 2px solid #0c6163;
    border-radius: 5px;
    padding: 8px;
}
.signuplgnbtn-main:hover{
    color: #ffffff;
    text-decoration: none;
    border-color: #094b4c;
}
.signuplgnbtn-main:active{
    box-shadow: 0 0 0 0.2rem #066d648c !important;
    border-color:#0c6163 ;
}
.signuplgnbtn-main:focus{
    border-color:#0c6163 ;
    outline: none;
    box-shadow: none;
}

.form-control-custom::placeholder{
    color: #047062;
}
.form-control-custom:focus{
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(10 103 106 / 51%);
}
::placeholder {
    color: #047062;
}
.forget_password-custom{
    color: #b92121;
}
.forget_password-custom:hover{
    color:#b92121 ;
    text-decoration: underline
}

.footer-copyright-custom{
    background:linear-gradient(45deg,#047062,#0c646d);
    color: #efa35f;
    /* animation: 1.5s ease-out 0s 1 slideInFromL; */
    position: relative;
    bottom: 0;
}
/* .footer-container-custom{
    animation: 2s ease-out 0s 1 slideInFromLeft;
} */
.footer-container-custom a{
    color: #b1f1ee;
    font-weight: bold;
}
.footer-custom{
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* loader styles */
#se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(logo/loader-gif.gif) center no-repeat rgb(255, 255, 255);
    background-size: 150px 200px;
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(4, 94, 114); 
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ec7916; 
  }